@charset "UTF-8";
/*ブラウザ版*/
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 22px;
}
.navbar_fo {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    zoom: 1.5;
}
.navbar_fo li {
    margin-right: 40px;
    letter-spacing: 0.1em;
}
.navbar_fo a {
    color: black;
    text-decoration: none;
}
.navbar_fo a:hover {
    border-width: 0 0 1px 0;
    border-style: solid;
}
.copy {
    text-align: right;
    margin: 50px 30px 0 0;
}

/*レスポンシブ*/
@media(max-width:896px) {
    .navbar_fo {
        justify-content: center;
    }
    .navbar_fo li {
        margin-right: 20px;
        letter-spacing: 0.1em;
}
}