@charset "UTF-8";
/*ブラウザ版*/
.header {
    background-color: #f6f0cc;
    border-width: 0 0 1px 0;
    border-style: solid;
}
header {
    position: relative;
    max-width: 960px;
    height: 270px;
    margin: 0 auto;
    padding-top: 60px;
}
.logo {
    padding-top: 20px;
}
.logo img {
    width: 275px;
    height:50px;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    zoom: 1.5;
    padding-top: 45px;
}
.navbar li {
    margin-left: 40px;
    letter-spacing: 0.1em;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:hover {
    border-width: 0 0 1px 0;
    border-style: solid;
}
.snsBtn {
    position: absolute;
    list-style: none;
    top: 95px;
    right:-20px;
    display: flex;
    opacity: 0.7;
}
.snsBtn a {
    color: black;
}
.snsBtn li {
    margin:0 20px;
}
.snsBtn .size {
    font-size: 2rem;
}

/*レスポンシブ*/
@media(max-width:896px) {
    header {
    max-width: 780px;
    height: 270px;
    padding-top: 20px;
    }
    .logo {
        text-align: center;
    }
    .navbar {
        justify-content: center;
        padding-top: 20px;
    }
    .navbar li {
        margin: 0 10px;
    }
    .snsBtn {
        top: 210px;
        right: 110px;
    }
}